/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy-hpcl {
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 10000;
  background: #0099ff;
  overflow: auto;
  visibility: hidden;
  display: block;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy-hpcl a {
  display: block;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  outline: 0;
}
.pushy-hpcl a:hover {
  color: #FFF;
}
.pushy-hpcl ul:first-child {
  margin-top: 0px;
}
.pushy-hpcl.pushy-left {
  left: 0;
}
.pushy-hpcl.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-hpcl-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.pushy-hpcl-open-left #container,
.pushy-hpcl-open-left .push-hpcl {
  -webkit-transform: translate3d(80%, 0, 0);
  -ms-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}

.pushy-hpcl-right {
  -webkit-transform: translate3d(80%, 0, 0);
  -ms-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}

.pushy-hpcl-open-right #container,
.pushy-hpcl-open-right .push-hpcl {
  -webkit-transform: translate3d(-80%, 0, 0);
  -ms-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}

.pushy-hpcl-open-left .pushy-hpcl,
.pushy-hpcl-open-right .pushy-hpcl {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
-webkit-box-shadow: inset -17px 0px 26px -9px rgba(0,0,0,0.17);
-moz-box-shadow: inset -17px 0px 26px -9px rgba(0,0,0,0.17);
box-shadow: inset -17px 0px 26px -9px rgba(0,0,0,0.17);



}

/* Menu Transitions */
#container,
.pushy-hpcl,
.push-hpcl {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay-hpcl {
  display: none;
}

.pushy-hpcl-open-left .site-overlay-hpcl,
.pushy-hpcl-open-right .site-overlay-hpcl {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
  z-index: 999;    
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-hpcl-submenu {
  /* Submenu Icon */
}
.pushy-hpcl-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out;
}
.pushy-hpcl-submenu ul .pushy-hpcl-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-hpcl-submenu > a {
  position: relative;
}
.pushy-hpcl-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-hpcl-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-hpcl-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-hpcl-submenu-open {
  /* Submenu Icon */
}
.pushy-hpcl-submenu-open ul {
  max-height: 1000px;
}
.pushy-hpcl-submenu-open .pushy-hpcl-link {
  opacity: 1;
}
.pushy-hpcl-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-hpcl-submenu-closed ul {
  max-height: none;
  display: none;
}

/*# sourceMappingURL=pushy.css.map */
